<a href="https://colab.research.google.com/github/Harlequelrah/Learning_data_science/blob/main/Learning_data_science/Cr%C3%A9ez_des_data_frames_avec_Pandas/Fusionnez_des_donn%C3%A9es_avec_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Le fait de rassembler plusieurs jeux de données différents est appelé une jointure, en algèbre relationnelle.

Pour faire une jointure on a besoin d'une clé , un élement commun qui peut être une colonne ou composées de plusieurs colonnes

**Fusionnez des données avec merge** :

- soit la fonction pandas  : pd.merge(A, B)

- soit la méthode du data frame  : A.merge(B)


Si on spécifie pas la clé pandas fait une jointure naturelle en sélectionnat les colonnes de même nom .

Lorsque la clé porte le même nom dans les deux data frame on utilise l'argument on

Lorsqu'il porte différent nom on utilise left_on et right_on respectivement pour le data frame à gauche et pour celui à droite .

# exemples

1 - `jointure entre deux data frame A et B`
```python

pd.merge(A,B) # jointure naturelle

pd.merge(A,B,on='id')
```

2 - `jointure entre deux data frame A et C`

```python
C.merge(A,left_on='identifiant',right_on='id')
# clé à gauche identifiant
# clé à droite id
```
*le data frame sur lequel s'effectue la jointure ici C est celui considéré comme le data frame left*

3  - `jointure entre deux data frame A et B`

```python
pd.merge(A,B,left_on='id',right_on='identifiant')
```
*le data frame considéré comme left est le premier renseigné*

In [ ]:
import pandas as pd
import numpy as np
base_url ='https://raw.githubusercontent.com/Harlequelrah/Learning_data_science/main/Learning_data_science/data/'
clients_url  = base_url + 'clients.csv'
prets_url = base_url + 'prets.csv'
clients = pd.read_csv(clients_url)
prets= pd.read_csv(prets_url)

In [37]:
data = pd.merge(clients,prets,on='identifiant')
display(data.head())

,identifiant,email,nom,genre,ville,CP,revenu,remboursement,duree,type,taux
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,GuyMarois@fleckens.hu,Guy Marois,M,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,RussellDurand@armyspy.com,Russell Durand,M,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014

**Explorez les différents types de jointure**

Il existe 4 types de jointures :

- Interne ;

- À gauche ;

- À droite ;

- Externe ;


1 - `jointure interne`

C'est le type de jointure par défaut . Elle sélectionne que les éléments qui ont une correspondance dans les deux data frame et ignore le reste .

Exemple :         

```python
pd.merge(A,B,on='id',how='inner')
```

2 - `jointure à gauche`

Elle sélectionne tous les clés du data frame  de gauche et  complète avec leurs correspondances dans le data frame de droite si possible ou avec NAN sinon .

Exemple :         

```python
pd.merge(A,B,on='id',how='left')
```

3 - `jointure à droite`

Elle sélectionne tous les clés du data frame  de droite et  complète avec leurs correspondances dans le data frame de gauche si possible ou avec NAN sinon .

Exemple :         

```python
pd.merge(A,B,on='id',how='right')
```

4 - `jointure externe`

Elle sélectionne tous les clés des deux data frame , établit les correspondances si possible et complète avec NAN sinon .

Exemple :         

```python
pd.merge(A,B,on='id',how='outer')
```

**Concaténez des données avec Pandas** :  

La concaténation intervient lorsqu’on souhaite assembler plusieurs data frames qui ont la même structure, les mêmes colonnes, les mêmes types, mais des informations différentes

exemple :

```python
liste_concat = [df1,df2]
pd.concat(liste_contact)
```

*La concatenation ne gère pas du tout les index par défaut à moins d'utiliser l'argument ignore_index qui est synonyme de l'utilisation de reset_index  , ce qui donnerait* :

```python
pd.concat(liste_concat, ignore_index=True)
```